<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el emisor</h2>
    <button on-click="sendEvent">No pulsar</button>
  </template>
  <script>
  Polymer({
     is: 'emisor-evento',
     properties: {},
     sendEvent(e) {
       console.log("Pulsado el botón");
       console.log(e);

       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "course" : "TechU",
               "year" : 2018
             }
           }
         )
       );
      }
    });
  </script>
</dom-module>
