<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el receptor</h2>
    <h3>Este curso es [[course]]</h3>
    <h3>y estamos en el año [[year]]</h3>
  </template>
  <script>
    Polymer({
      is: 'gestor-evento',
      properties: {
        course: {
          type: String
        },
        year: {
          type: String
        }
      }
    });
  </script>

</dom-module>
