<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<dom-module id="visor-cuentas-new">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <h4>Sus cuentas:</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">IBAN</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td>{{item.IBAN}}</td>
          <td>{{item.balance}}</td>
        </tr>
      </template>
    </tbody>
  </table>
   <iron-ajax
     id="getAccounts"
     url="http://localhost:3003/colapi/v3/users/{{userid}}/accounts"
     handle-as="json"
     on-response="showData">
 </template>
 <script>
   class VisorCuentasNew extends Polymer.Element {
     static get is() { return 'visor-cuentas-new'; }
     static get properties() {
       return {
         userid : {
           type: Number,
           observer: '_idChanged'
         }, iban: {
           type: String
         }, balance: {
           type: Number
         }, accounts: {
           type: Array
         }
       };
     }
     _idChanged() {
       this.$.getAccounts.generateRequest();
     }
     showData(data) {
       console.log('response');
       console.log(data.detail.response);
       this.accounts = data.detail.response;
       // this.iban = data.detail.response[0].IBAN;
       // this.balance = data.detail.response[0].balance;
     }
   }
   window.customElements.define(VisorCuentasNew.is, VisorCuentasNew);
 </script>
</dom-module>
