<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="detalle-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Detalle de usuario</h1>
    <h3>El usuario [[name]] trabaja en BBVA</h3>

    <!-- <iron-ajax
      auto
      id="getUsers"
      url="http://localhost:3000/techu-peru/v1/users/{{userid}}"
      handle-as="json"
      on-response="showResponse"></iron-ajax> -->

  </template>

  <script>

  Polymer({
    is: 'detalle-usuario',
    properties: {
      name: {
        type: String
      }
    }
    });
  </script>
</dom-module>
