<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h4>Sus cuentas:</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
            <td>{{item.num_cta}}</td>
            <td>{{item.saldo}}</td>
          </tr>
        </template>
      </tbody>
    </table>

    <iron-ajax
      auto
      id="getCuentasPorUsuario"
      url="http://localhost:3000/techu-peru/v1/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"></iron-ajax>

  </template>

  <script>

  Polymer({
     is: 'visor-cuentas',
     properties: {
        userid: {
          type: Number,
          observer: '_idChanged'
        },
        iban:{
          type:String
        },
        balance:{
          type:Number
        },
        accounts:{
          type:Array
        }
      },
      showData(data){
        this.accounts = data.detail.response;
      },
      _idChanged(){
        this.$.getCuentasPorUsuario.generateRequest();
      }
    });

  </script>
</dom-module>
