<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>VISOR DE USUARIO</h1>
    <h2>El ID del usuario es [[userid]]!</h2>
    <h3>y el nombre es [[name]]!</h3>

    <iron-ajax
      auto
      id="getUsers"
      url="http://localhost:3000/techu-peru/v1/users/{{userid}}"
      handle-as="json"
      on-response="showResponse"></iron-ajax>

  </template>

  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          userid: {
            type: Number
          }
        };
      }

      showResponse(data){
        console.log("Hola");
        // console.log(data.detail._data.response);
        this.userid = data.detail.response.id;
        this.name = data.detail.response.first_name;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
