<head>
    <title>Login BBVA</title>
    <link rel="stylesheet" href="../../css/style-login.css">
    <link rel="import" href="../../bower_components/polymer/polymer-element.html">
    <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="login-estilos.html">
</head>

<dom-module id="login-usuario">
  <template>
    <style include="login-estilos"></style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Login</h5>
              <form class="form-signin" id="form-login-bbva">
                <div class="form-label-group">
                  <input type="email" id="inputCorreo" class="form-control" placeholder="Correo" required autofocus>
                  <label for="inputEmail">Correo</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputClave" class="form-control" placeholder="Contraseña" required>
                  <label for="inputPassword">Contraseña</label>
                </div>

                <!-- <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> -->
                <button class="btn btn-lg btn-primary btn-block text-uppercase" on-click="handleClick">Ingresar</button>
                <hr class="my-4">
                <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../js/login-main.js"></script>
  <script>
  $(document).ready(function(){
    $('.form-signin').submit(function(event){
       console.log("submit 1");
        if(this.checkValidity())
        {
          console.log("submit 2");
            event.preventDefault();
        }
    });
    console.log("init jquery");
    var login = new Login();
    login.init();
  });

  Polymer({
     is: 'login-usuario',
     properties: {
        onLoginRedirectUrl: String
      },
      handleClick: function(e) {
        var objLogin = new Login();
        objLogin.login(this.onLoginRedirectUrl);
      },
      loginorlogout: function ()
      {
          if (sessionStorage.getItem("authentication") === "true")
          {
              logout();
          }
          else
          {
              showPanel();
          }
      }
    });

  </script>
</dom-module>
