<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="wc-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WcPrincipal extends Polymer.Element {
      static get is() { return 'wc-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'wc-principal'
          }
        };
      }
    }

    window.customElements.define(WcPrincipal.is, WcPrincipal);
  </script>
</dom-module>
